In [19]:
import pandas as pd
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq

In [20]:
file_blast = "/home/juan/Desktop/juan/bio/mites/data/blast/families_tgac.csv"
file_blast_out = "/home/juan/Desktop/juan/bio/mites/data/blast/families_tgac.filtered.80.csv"

In [21]:
df = pd.read_csv(file_blast, index_col=False, sep='\t', comment='#', header=None)
df.columns = ['qseqid','sseqid','pident','length','mismatch','gapopen','qstart','qend','sstart','send','evalue','bitscore']
print(len(df.index))

1599699

In [22]:
df.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,TRIAE_CS42_4DL_TGACv1_343390_AA1133870,94.008,484,27,2,3,485,6683,6201,0.000000e+00,732.0
1,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,TRIAE_CS42_7AL_TGACv1_557948_AA1788260,84.886,483,26,13,2,484,7344,7779,5.080000e-123,444.0
2,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,TRIAE_CS42_2DS_TGACv1_179024_AA0603660,81.443,388,71,1,99,485,1,388,1.160000e-84,316.0
3,MITE_T_10|chr3D|462806129|462806614|GC|16|F2,TRIAE_CS42_7AS_TGACv1_572132_AA1851480,89.044,429,47,0,20,448,2049,2477,1.050000e-149,532.0
4,MITE_T_10|chr3D|462806129|462806614|GC|16|F2,TRIAE_CS42_7AS_TGACv1_572132_AA1851480,81.693,437,64,14,20,448,2477,2049,1.140000e-94,350.0

In [23]:
df = df[df.pident > 80]
print(len(df.index))

1482719

In [24]:
df.to_csv(file_blast_out, sep="\t", header=None, index=None)