In [30]:
import pandas as pd

In [116]:
where = 'wheat'

In [98]:
where = 'rice'

In [74]:
where = 'stuberosum'

In [117]:
file_blast = "/home/juan/Desktop/juan/bio/mites/data/" + where + "/allmites.fasta.csv"
file_blast

'/home/juan/Desktop/juan/bio/mites/data/wheat/allmites.fasta.csv'

In [118]:
df = pd.read_csv(file_blast, index_col=False, sep='\t', comment='#', header=None)

In [119]:
cols = ['qseqid','sseqid','qstart','qend','sstart','send','mismatch','gaps','pident','evalue','length','qlen','slen','qcovs']
df.columns = cols

In [120]:
print(len(df.index))

37229966

In [121]:
df.head(3)

,qseqid,sseqid,qstart,qend,sstart,send,mismatch,gaps,pident,evalue,length,qlen,slen,qcovs
0,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,2B,1,486,413009711,413010196,0,0,100.00,0.0,486,486,801256715,100
1,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,2B,3,484,727734740,727734259,21,2,95.24,0.0,483,486,801256715,100
2,MITE_T_1|chr2B|413009710|413010196|AT|24|F1,2B,4,486,394110007,394110490,23,1,95.04,0.0,484,486,801256715,100

In [122]:
df = df[((df.length / df.qlen) >= 0.8)]
print(len(df.index))

22561911

In [123]:
df = df[((df.length / df.qlen) <= 1.2)]
print(len(df.index))

22561902

In [124]:
#df = df[df.pident > 80]
#print(len(df.index))

In [125]:
group_1 = df.groupby(['qseqid'],as_index=False).agg({"sseqid": "count", 'pident':'mean'})
print(len(group_1.index))

6476

In [126]:
group_1 = group_1.sort_values(['pident','sseqid'],ascending=False)

In [127]:
group_1 = group_1[group_1.sseqid > 5]
print(len(group_1.index))

6257

In [128]:
group_1.to_csv("data/" + where + "/groupped.csv", sep="\t", index=None)

In [129]:
#filtrar solo con menos que dos mismatches y gaps

In [130]:
df_filtered = df[(df.mismatch + df.gaps) < 2]
print(len(df_filtered.index))

31980

In [131]:
group_2 = df_filtered.groupby(['qseqid'],as_index=False).agg({"sseqid": "count", 'pident':'mean'})
print(len(group_2.index))

6249

In [132]:
group_2 = group_2[group_2.sseqid > 5]
print(len(group_2.index))

406

In [133]:
group_2 = group_2.sort_values(['pident','sseqid'],ascending=False)
group_2.to_csv("data/" + where + "/groupped_2.csv", sep="\t", index=None)